<?=require 'templates/header.phtml'?>

<?=require 'templates/form_alta.phtml'?>

<!-- lista de tareas -->
<ul class="list-group">
    <?php foreach($tasks as $task): ?>
        <li class='
                list-group-item d-flex justify-content-between align-items-center
                <?php if($task->finalizada):?> finalizada <?php endif ?>
            '>
            <span> <b><?=$task->titulo?></b> - <?=substr($task->descripcion,0,25)?> (prioridad <?=$task->prioridad?>) </span>
            <div class="ml-auto">
                <?php if(!$task->finalizada): ?>
                    <a href='finalize/<?=$task->id?>' type='button' class='btn btn-success'>Finalizar</a>
                <?php endif?>
                <a href='delete/<?=$task->id?>' type='button' class='btn btn-danger'>Borrar</a>
            </div>
        </li>
    <?php endforeach ?>
</ul>

<p class="mt-3"><small>Mostrando <?=$count?> tareas</small></p>

<?=require 'templates/footer.phtml'?>